<!-- breadcrumbs -->
<ul class="breadcrumb">
  <li><a href="/">Início</a> <span class="divider">/</span></li>
  <li class="active">Todos Estados</li>
</ul>


<ul>
<% @states.each do |state| %>
  <li>
    <a href=<%= state_url(state.id) %>>
      <%= state.name %>
    </a>
  </li>
<% end %>
</ul>
